{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    <p align="center">Explanatory Statement and Consent</p>
{% endblock %}

{% block content %}

    <!--b>Todo</b>
    <p>Add specific Experiment instructions here, this will only be shown before round 1!</p-->
    <strong>Study Title</strong>
    <p>Studying online shopping behaviour on E-commerce websites.</p>
    <strong>Research Team</strong>
    <p>
        Principal Investigator: Ananya Limaye <br>
        Mentors: Dr. Anirudh Tagat, Mr. Uday Sinha. <br>
    </p>
    <strong>Contact Information</strong>
    <p>
        Ananya Limaye <br>
        Symbiosis School for Liberal Arts <br>
    </p>

    <p>
        Dear Participant, <br>
        You are invited to participate in a research study by Ananya Limaye and her team from the Symbiosis School for Liberal Arts. Before deciding whether to participate, it is important that you read and understand the following information about the study. <br>
    </p>
    <strong>Purpose of the Research</strong>
    <p>This research aims to investigate consumers' shopping behavior on E-commerce platforms across various product categories. </p>
    <strong>Procedure</strong>
    <p>
        The study will involve participating in an interactive experiment using oTree, an online platform. The experiment will simulate an E-commerce interface similar to popular websites like Amazon, Nykaa, and Flipkart. You will be asked to shop effectively within a given budget. <br><br>

        <strong>The experiment can be attempted on desktops/laptops, as well as mobile devices.</strong><br>

        <br>
        You will see a Sign In button on the first page; please click and register your details (age and gender) at the beginning of the experiment. <br>
        <br>
        The experiment will consist of three rounds, each featuring different product categories. <br>
        During each round, you will be presented with three choices. Please choose any of the products as you would when browsing an E-commerce platform, considering the budget you will be allotted. <br>
        <br>
        For example - <br>
        Follow the arrow to sign in and enter your details. After signing in, for the first round, you might have ‘Water Bottles’ as your product category. <br>
        You will have three different choices to select the product to buy from. <br>
        Your allotted budget will be displayed at the screen's <strong>top-right corner</strong>. <br><br>
        <strong>Please zoom out in case the whole screen is not visible to you on your mobile screen.</strong><br><br>
        Select the product you wish to buy by clicking the ‘Add to Cart button’ under it. <br>
        You will be taken to the next page, where you must ‘<strong>Confirm your Purchase</strong>’ to get to the next round. <br>
        There will be three rounds in total, with different products. <br>
        <br>
        Please remember that the products should fall within the allotted budget, displayed in the top-right corner. The budget will adjust according to the products added to the cart. <br>
        <br>
        <strong>There will be no payment or transaction required for this experiment.</strong><br>
        <br>
        <strong>Duration</strong><br>
        Participation in the experiment will take approximately 10 minutes. <br>
        <br>
        <strong>Risks and Benefits</strong><br>
        There are no anticipated risks associated with participating in this study. However, you may benefit from gaining insight into your own decision-making processes. Your participation will also contribute to advancing knowledge in the field of consumer behaviour. <br>
        <br>
        <strong>Confidentiality</strong><br>
        Your participation in this study will remain confidential. Your personal information will be stored securely and only accessible to the research team. Data will be de-identified for analysis, and individual participants will not be identifiable in any reports or publications. <br>
        <br>
        <strong>Withdrawal</strong><br>
        Participation in this study is voluntary, and you may withdraw at any time without consequence. <br>
        <br>
        <strong>Informed Consent</strong><br>
        By participating in this study, you acknowledge that you have read and understood the information provided in this document. You consent to participate in the research as described above. <br>
        <br>
        If you have any questions or concerns about the study, contact Ananya Limaye at the provided email address or phone number. If you agree to participate, please click the consent button to begin the experiment. <br>
        <br>
        Thank you for considering participation in this research study. <br>
        <br>
        Sincerely, <br>
        Ananya Limaye <br>
        Principal Investigator <br>
        <br>
    </p>

    <!--p><i>To change this page's content adjust the html of the /ShopCraze/InstructionPage.html file.</i></p-->
    <!-- Button trigger modal -->
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">I Consent</button>
    </div>

{% endblock %}

{% block scripts %}
<!-- scripts -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


{% endblock %}