{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}

{% endblock %}

{% block content %}

<!-- Shopping Cart -->
<div class="container">
    <h2>Checkout</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Cash Remaining</th>
            <th>Items Purchased</th>
            <th>Bill</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{player.cash}}</td>
            <td>3</td>
            <td>Battery Bank, Neck Pillow, Yoga Mat</td>
        </tr>
        </tbody>
    </table>
</div>

    {% next_button %}
{% endblock %}


